<?xml version="1.0" encoding="UTF-8"?> <!--db 구문 입력 -->
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="abc">
<select id="select" parameterType="String" resultType="DTO">select * from party where cate = #{cate} ; </select>
<select id="select_detail" parameterType="Integer" resultType="DTO">select * from party where pnum = #{pnum} ; </select>
<insert id="insert" parameterType="DTO">insert into party (name,email,phone,rname,addno,addr,addr1,addr2,pdate,pno,preprice,ptalk,cate,title,filename,ptime) values (#{name},#{email},#{phone},#{rname},#{addno},#{addr},#{addr1},#{addr2},#{pdate},#{pno},#{preprice},#{ptalk},#{cate},#{title},#{filename},#{ptime});</insert>
<delete id="delete" parameterType="DTO">delete from test where id=#{id} and nick=#{nick};</delete>
<update id="update" parameterType="DTO">update test set id=#{uid},nick=#{unick} where id=#{id} and nick=#{nick};</update>
<select id ="listcount" resultType = "Integer" >select count(*) from party</select>
<select id ="boardlistcount" resultType = "Integer" >select count(*) from board</select>
<select id ="listcount_search" resultType = "Integer" >select count(*) from restaurant where type = #{type},price = #{price},home like %#{location}% ; </select>
<insert id ="insert_license" parameterType="licenseDTO">insert into business(id,license) values(#{id},#{license}); </insert>
<select id="topsearch" parameterType="String" resultType="DTO_AD">select * from restaurant where type = #{type} ; </select>
<select id="locasearch" parameterType="String" resultType="rbean">select * from board where location = #{local} ; </select>

<select id="navsearch" resultType="DTO_AD" parameterType="DTO_AD">


select * from restaurant <where>
<if test="navloca!=null">
location in 
<foreach item="nloca" collection="navloca" open="(" close=")" separator="or" >
#{nloca}
</foreach>
</if>
<if test="navtype!=null"> 
and type in 
<foreach item="ntype" collection="navtype" open="(" close=")" separator=",">
#{ntype}
</foreach>
</if>
<if test="navprice!=null">
and price in 
<foreach item="nprice" collection="navprice" open="(" close=")" separator=",">
#{nprice}
</foreach>
</if>
</where> 
;


</select>

<select id="selectParty" parameterType="Integer" resultType="pt">
		select * from party where pnum = #{pnum} and pdate > now() order by pnum;
	</select>
	
	<select id="selectlistParty" parameterType="String" resultType="pt">
		select * from party where cate = #{cate} and pdate > now() order by pnum;
	</select>
	
	<select id="selectPartyre" parameterType="Integer" resultType="pt">
		select * from party where pnum = #{pnum} and now() > pdate order by pnum;
	</select>
	
	<select id="selectlistPartyre" parameterType="String" resultType="pt">
		select * from party where cate = #{cate} and now() > pdate order by pnum;
	</select>
	
	<insert id="insertParty" parameterType="pt">
		insert into party (title,id,nick,email,phone,cate,rname,addno,addr,addr1,addr2,rfile,pdate,ptime,sins,sinf,pno,preprice,ptalk) values(#{title},#{id},#{nick},#{email},#{phone},#{cate},#{rname},#{addno},#{addr},#{addr1},#{addr2},#{rfile},#{pdate},#{ptime},#{sins},#{sinf},#{pno},#{preprice},#{ptalk});
	</insert>
	
	
	<!--   preview   파티후기 댓글        -->
	
	<select id="selectlistPreview" parameterType="Integer" resultType="pr">
		select * from preview where pnum = #{pnum} order by rpostnum desc limit 23;
	</select>
	
	<insert id="insertPreview" parameterType="pr">
		insert into preview (pnum, id, nick, rcontent, date) values(#{pnum},#{id},#{nick},#{rcontent},now());
	</insert>
	
	<!--   preview   파티 신청        -->
	
	
	<insert id="insertApply" parameterType="ap">
		insert into party_apply (pnum, id, psdate) values(#{pnum},#{id},now());
	</insert>
	
	<select id="selectApply" parameterType="ap" resultType="String">
		select psnum from party_apply where pnum = #{pnum} and id = #{id};
	</select>
	
	<select id="selectApplycount" parameterType="Integer" resultType="Integer">
		select count(*) as count_apply from party_apply where pnum = #{pnum};
	</select>
	
	
	
	
	
	<!--    맛집 베스트 평점 순    -->
	<select id="selectmasjip" resultType="rs">
		select rnum, avg(pyung) as avg_pyung from resdat group by rnum order by avg(pyung) desc limit 10;
	</select>
	
	<!--   식당번호와 같은 식당 정보 찾아오기  -->
	<select id="selectRestau" parameterType="Integer" resultType="rt">
		select * from restaurant where rnum = #{rnum};
	</select>
	
	<!-- 가장 최근의 댓글 하나 뽑아오기 식당별 -->
	
	<select id="selectResdat" parameterType="Integer" resultType="rs">
		select * from resdat where rnum = #{rnum} order by pyung desc limit 1;
	</select>

</mapper>
